

@{
    ViewBag.Title = "DeleteEmployee";
}

<h2>DeleteEmployee</h2>

<div class="container">
    <table>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Address</td>
            <td>Department</td>
        </tr>
        <tbody>

        </tbody>
    </table>
</div>

