@model Employee_Portal_System_1.Models.EmployeeViewModel

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div class="container" style="width:50%;margin-top:40px;">

    <div class="page-header">
        <div class="alert alert-info"><h4 style="text-align:center;">Employees Portal System</h4></div>
    </div>
<!-- Trigger the modal with a button -->
    <div class="container" style="width:30%;">
    <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Add</button>
    <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-trash"></span> Remove</button>
    <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
    <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-th"></span> Display</button>
    </div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <form id="myForm">

                    @Html.DropDownListFor(m => m.EmployeeId, ViewBag.DepartmentList as SelectList, "--Select--", new { @class="form-control"})

                    @Html.TextBoxFor(m => m.Name, new { @class="form-control", placeholder = "Name"})

                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Adress" })

                    @Html.TextBoxFor(m => m.SiteName, new { @class = "form-control", placeholder = "SiteName" })

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="reset" class="btn btn-success" value="submit" id="btnSubmit" />
            </div>
        </div>

    </div>
</div>
</div>


<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            var data = $("#myForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Employee/Index",
                data: data,
                success: function (response) {
                    alert("You Done.");
                }
            });

        });

    });

</script>