
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>


<div class="container">
    <table class="table table-bordered">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Address</td>
            <td>Department</td>
        </tr>
        <tbody>
            @if (ViewBag.EmployeeList != null)
            {
                foreach (var item in ViewBag.EmployeeList)
                {
                    <tr>
                        <td>@item.EmployeeId</td>
                        <td>@item.Name</td>
                        <td>@item.Address</td>
                        <td>@item.DepartmentName</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


